<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>shklr.org</title>
    <meta name="description"
        content="">
    <meta name="author" content="sergioSHKLR, info@shklr.org">
    <!-- OPEN GRAPH / FACEBOOK -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://shklr.org/">
    <meta property="og:title" content="shklr.org">
    <meta property="og:description"
        content="">
    <meta property="og:image" content="./framework/pwa/opengraph.png">
    <!-- TWITTER / X -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://shklr.org/">
    <meta property="twitter:title" content="shklr.org">
    <meta property="twitter:description"
        content="">
    <meta property="twitter:image" content="./framework/pwa/twitter.png">

    <!-- CSS -->
    <link rel="stylesheet" href="./framework/css/framework.css">
    <link rel="stylesheet" href="./framework/css/media-queries.css">
    <link rel="stylesheet" href="./framework/css/fonts.css">
 
    <!-- PWA -->
    <link rel="icon" href="./framework/pwa/favicon.svg" type="image/svg+xml">
    <link rel="icon" href="./framework/pwa/favicon.png" type="image/png">

</head>

<body>

    <div id="col1-head" class="sidebar-w pos-fixed top-0 h-50 left-0 pt-10 border-0 pl-10 underline-0">

        <a href="./" id="col1-brand"
            class="ff-russo ml-n5 fs-0 pos-rel pt-50 pl-0 pb-5 top-10 border-0 border-round"
            style="color: currentColor;">⭕ shklr.org</a>

    </div>

    <div id="col1-body"
        class="sidebar-w pos-fixed left-0 top-50 h-body overflow border-top border-right ff-inter underline-0 fs-3 pl-15"
        style="z-index: 1; background-color: inherit;">

        <!-- COL1 LINKS -->
        <p class="fs-2 fw-strong border-short">Projetos</p>
        <p><a href="#doutrinaorg">💧 doutrina.org</a></p>
        <p><a href="#cinco">5️⃣ Cinco</a></p>
        <p><a href="#livro-de-preces">🙏🏼 Livro de Preces</a></p>
        <p><a href="#obras-bsicas">📚 Obras Básicas</a></p>
        <p><a href="#posters">🖼️ Posters</a></p>
        <p><a href="#mensagens">💭 Mensagens</a></p>

        <!-- COL1 DETAILS -->
        <p class="fs-2 fw-strong border-short">Detalhes</p>
        <p><a href="#info" title="informações">📋 Info</a></p>
        <p><a href="#legal" title="Legal">⚖️ Legal</a></p>
     
        <br>
    </div>

    <!-- COL2 -->
    <div id="col2-head" class="w-auto pos-fixed top-0 left-sidebar mh-40 h-50 pt-10 underline-0">

        <button id="col2-menu-on" onclick="menuOn()" title="abrir/fechar menu"><span
                class="material-symbols-outlined">menu</span></button>

        <button id="col2-menu-off" hidden onclick="menuOff()" title="abrir/fechar menu"><span
                class="material-symbols-outlined">menu</span></button>

        <a href="./" id="col2-brand"
            class="ff-russo fs-0 pos-rel pb-5 pl-0 pr-5 top-n5 border-0 border-round">⭕ shklr.org</a>

    </div>

    <div id="col2-body" class="w-auto pos-fixed top-50 left-sidebar h-body border-top overflow fc-cc">

        {{ content }}

    </div>

    <!-- COL3 -->

    <div id="col3-head" class="w-auto pos-fixed top-0 right-0 h-50 mh-40 pt-10 border-0 underline-0">

    </div>
    <div id="col3-body" class="w-auto pos-fixed right-0 top-50 h-body border-left border-top fc-cc">


        <iframe id="ext-iframe" loading="lazy" name="ext" title="painel complementar" class="h-100 w-100 border-0"
            src="./splash.html" style="background-color: #111;"></iframe>
    </div>
    <!-- SCRIPTS -->
    <script defer src="./framework/js/script.js"></script>

    <a href="https://standwithus.com/brazil" target="_blank"><img id="israel" src="./framework/israel-2.svg"
            alt="Stand With Us" title="Stand With Us"></a>

</body>
<!-- #endregion -->

</html>